* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg: #0f172a;
  --text: #fff;
  --card: #1e293b;
}

.light {
  --bg: #ffffff;
  --text: #000;
  --card: #f1f5f9;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

/* LOADER */
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader h1 {
  font-size: 24px;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.3;
  }
}

/* CURSOR */
.cursor-glow {
  position: fixed;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(56, 189, 248, 0.3), transparent);
  filter: blur(40px);
  pointer-events: none;
  transform: translate(-50%, -50%);
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
}
.nav-first a {
  color: #e6eaeb;
  margin-right: 15px;
  text-decoration: none;
}

.nav button {
  background: none;
  border: 1px solid #38bdf8;
  color: #38bdf8;
  padding: 5px 10px;
  border-radius: 10px;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: fill;
  margin-bottom: 20px;
}
.simple-footer {
  text-align: center;
  padding: 15px 10px;
  background: #020617;
  color: #cbd5f5;
  font-size: 0.9rem;
  border-top: 1px solid #1e293b;
}

.simple-footer p {
  margin: 0;
  text-align: center;
}
.simple-footer p:hover {
  color: #22c55e;
  transition: 0.3s;
}

.hero h1 {
  font-size: 48px;
}
.hero h4 {
  font-size: 1.3rem;
  font-weight: 400;
}
.hero p {
  margin: 15px 0;
  color: gray;
}

.btn {
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  margin: 5px;
}

.primary {
  background: #38bdf8;
  color: #000;
}
.secondary {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

/* SECTION */
.section {
  padding: 80px 10%;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card,
.project {
  background: var(--card);
  padding: 20px;
  border-radius: 12px;
}

/* ANIMATION BASE */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
}
@media (max-width: 992px) {
  .toggle {
    font-size: 0.4rem;
  }
  .nav-first a {
    font-size: 0.4rem;
  }
  .hero img {
    width: 11rem;
    height: 11rem;
    object-fit: fill;
  }
  .hero h1 {
    font-size: 32px;
  }
}

/* ++++++++++++++++++++++++++++++about-section css+++++++++++++++++++++++++++++++ */

.main-class-one {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(135deg, #0f172a, #020617);
  background-repeat: no-repeat;
  gap: 8rem;
  color: rgb(186, 183, 183);
  padding: 2rem 4rem;
}
.main-class-one .under-child-one {
  width: 40%;
}
.under-child-one img {
  height: 18rem;
  width: 18rem;
  object-fit: fill;
  border-radius: 50%;
}
.heading-1 {
  font-size: 2rem;
}
.position-1 {
  font-size: 1.2rem;
  color: #a73b3b;
  margin: 0.9rem 0rem;
}
.description-1 {
  font-size: 0.9rem;
  font-weight: 0;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
}
.main-class-one .under-child-two-about {
  width: 50%;
}
.main-heading-keyword {
  font-size: 1.8rem;
  color: #2089b9;
  margin-bottom: 1rem;
}
.child-about-sec p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.exprience-section {
  /* background-color: var(--secondary-color); */
  background: linear-gradient(135deg, #020617, #0f172a);
  color: rgb(175, 180, 180);
  padding: 1rem 0rem;
}
.exprience-section .ex {
  font-size: 1.9rem;
  color: #798d97;
  margin-bottom: 1rem;
  text-align: center;
}
.exprience-parents-sec {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 11rem;
  padding: 2rem 1rem;
}
.first-exprience {
  width: 40%;
}
.first-exprience h1 {
  font-size: 1.5rem;
  color: #efecec;
  margin-bottom: 1rem;
}
.first-exprience h4 {
  margin: 1rem 0rem;
  font-size: 0.9rem;
  font-weight: 100;
}
.second-exprience {
  width: 40%;
}
.second-exprience h1 {
  font-size: 1.5rem;
  color: #efecec;
  margin-bottom: 1rem;
}
.second-exprience h4 {
  margin: 1rem 0rem;
  font-size: 0.9rem;
  font-weight: 100;
}

.skills {
  padding: 1rem 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  background-color: #050d1a;
  padding: 2rem 2rem;
}

/* Card Style */
.card {
  padding: 2rem;
  background-color: bisque;
  width: 30%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  border-bottom: 4px solid #000000;
}

/* Image */
.card img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: fill;
  margin-bottom: 20px;
}

/* Text */
.card p {
  color: #050d1a;
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Hover Effect */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid #007bff;
}
.lets-work-together {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: #121812;
  border: none;
  border-radius: 4px;
  color: #050d1a;
  font-size: 1rem;
  cursor: pointer;
  font-size: 1.3rem;
  transition: 0.3s ease;
  color: whitesmoke;
}
.lets-work-together:hover {
  background-color: #050d1a;
  color: #61ce70;
  transition-duration: 0.5s;
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid #007bff;
}

.education-section {
  /* margin-top: 3rem; */
  background-color: #0f172a;
  text-align: center;
}

/* Heading */
.edu-heading {
  font-size: 1.8rem;
  color: whitesmoke;
  text-align: center;
}

/* Box */
.edu-box {
  display: flex;
  justify-content: center;
  gap: 15px;
  background: #0f172a;
  padding: 20px;
  border-radius: 10px;
  border-left: 4px solid #22c55e;
  transition: 0.3s;
}

/* Hover */
.edu-box:hover {
  transform: translateY(-5px);
  background: #1e293b;
}

/* Icon */
.edu-icon {
  font-size: 2rem;
}

/* Content */
.edu-content h3 {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.edu-college {
  color: #22c55e;
  font-size: 0.95rem;
}

.edu-year {
  font-size: 0.85rem;
  color: #94a3b8;
  margin-bottom: 8px;
}

.edu-desc {
  font-size: 0.95rem;
  color: #cbd5f5;
  line-height: 1.5;
}
/* ++++++++++++++media query for about section+++++++++++++++++++++++ */
@media (max-width: 992px) {
  .main-class-one {
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
    text-align: center;
  }

  .main-class-one .under-child-one,
  .main-class-one .under-child-two-about {
    width: 100%;
  }

  .under-child-one img {
    height: 15rem;
    width: 15rem;
    object-fit: fill;
  }

  /* Experience section */
  .exprience-parents-sec {
    flex-direction: column;
    gap: 3rem;
  }

  .first-exprience,
  .second-exprience {
    width: 100%;
  }

  /* Cards */
  .card {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .main-class-one {
    padding: 1.5rem 1rem;
    gap: 2rem;
  }

  .heading-1 {
    font-size: 1.6rem;
  }

  .position-1 {
    font-size: 1rem;
  }

  .description-1 {
    font-size: 0.95rem;
  }

  .under-child-one img {
    height: 12rem;
    width: 12rem;
  }

  /* Experience */
  .exprience-section .ex {
    font-size: 1.5rem;
  }

  .first-exprience h1,
  .second-exprience h1 {
    font-size: 1.3rem;
  }

  /* Cards full width */
  .card {
    width: 100%;
    padding: 1.5rem;
  }

  .card img {
    width: 8rem;
    height: 8rem;
  }

  .card p {
    font-size: 1rem;
  }

  /* Button */
  .lets-work-together {
    width: 90%;
    font-size: 1.1rem;
  }
}
/* +++++++++++++++++++contactformcsss+++++++++++++= */
.contact-section {
  padding: 50px 20px;
  background-color: var(--secondary-color);
}

/* Container */
.contact-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 2rem;
  background: #111827;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Left Side */
.contact-info {
  flex: 1;
  padding: 40px;
  color: aliceblue;
  /* background: linear-gradient(135deg, #2563eb, #1e40af); */
}

.contact-info h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 20px;
  color: #e5e7eb;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  font-size: 1.1rem;
}

.info-box i {
  font-size: 1.3rem;
}

/* Social Icons */
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.7rem;
  color: rgb(246, 238, 238);
  transition: 0.3s;
}

.social-icons a:hover {
  color: #589e7b;
  transform: scale(1.2);
}

/* Form */
.contact-form {
  flex: 1;
  padding: 40px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 1rem;
  background: #1f2937;
  color: white;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid #22c55e;
}

/* Button */
.contact-form button {
  padding: 12px;
  border: none;
  background: #22c55e;
  color: black;
  font-size: 1.1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #16a34a;
  transform: translateY(-3px);
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
}

/* +++++++++++++++++++++++++project page css++++++++++++++++++++++++++++++ */
.projects {
  padding: 60px 20px;
  background: #020617;
  color: white;
  text-align: center;
}

.project-heading {
  font-size: 2.2rem;
  margin-bottom: 40px;
  color: #22c55e;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* Card */
.project-card {
  background: #0f172a;
  padding: 25px;
  border-radius: 12px;
  transition: 0.3s;
  text-align: left;
  border-left: 4px solid #22c55e;
}

.project-card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 0.95rem;
  color: #cbd5f5;
  margin-bottom: 10px;
}

/* List */
.project-card ul {
  margin: 10px 0;
  padding-left: 15px;
}

.project-card ul li {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

/* Button */
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background: #22c55e;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

/* Hover */
.project-card:hover {
  transform: translateY(-8px);
  background: #1e293b;
}

/* Responsive */
@media (max-width: 992px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .project-container {
    grid-template-columns: 1fr;
  }
}
